body
{
    background-color: #255472;
    color: #FFF!important;
}

.borda
{
    border: 1px solid red;
}

.btn-green
{
    background-color: #00D167;
}

.card-music-block
{
    opacity: 0.75;
    cursor: not-allowed;
}

.card-music-block > div
{
    pointer-events: none;
}

.div-complete-playlist
{
    text-align: center;
}
