{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block head %}
<style>
    .a-info
    {
        color: #00D167;
    }
    .a-info:hover
    {
        cursor: pointer;
        color: #00D167;
        filter: brightness(0.9);
    }
    
</style>
{% endblock head %}

{% block body %}
<h1 style="font-weight: bold; text-align: center; font-size: 2.3rem;">
    De Alceu Valença a Zequinha de Abreu
</h1>

<div class="container" style="text-align: center;"> 
    <p class="header" style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">
        {{ user.full_name }}, agora que você já respondeu aos questionários do dia 7, irá aguardar mais sete dias para 
        responder ao último questionário. O sistema ira lhe enviar um e-mail lembrando a data que você 
        devera responder a esse ultimo questionário. Clique no botão abaixo para iniciar a segunda fase.<br/> 
        Muito grata por sua participação!
    </p> 
    <a class="btn btn-green text-align" href="/dashboard">
        Iniciar segunda fase
    </a>
</div>

{% endblock body %}
