{% extends 'base.html' %}

{% block title %}Formulário{% endblock title %}

{% block body %}
    <h1 style="font-weight: bold; text-align: center; font-size: 2.3rem;">
        De Alceu Valença a Zequinha de Abreu
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-12" style="display: flex; justify-content: center;">
                <iframe src="{{ form.url }}" width="640" height="530" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
            </div>
        </div>
    </div>

{% endblock body %}
