{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block head %}
<style>
    .row-card
    {
        background-color: #00D167;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 5px 20px 5px;
        flex-direction: column;
        color: black;
    }

    .col-card
    {
        background-color: #F1F3F4;
        border-radius: 8px;
        margin: 5px 0px;
        width: fit-content;
    }

    .a-info
    {
        color: #00D167;
    }
    .a-info:hover
    {
        cursor: pointer;
        color: #00D167;
        filter: brightness(0.9);
    }
    
</style>
{% endblock head %}

{% block body %}
<h1 style="font-weight: bold; text-align: center; font-size: 2.3rem;">
    De Alceu Valença a Zequinha de Abreu
</h1>

<div class="container">
    <!-- Esse parágrafo ficará visível quando o usuário completar a playlist. -->
    <div class="div-complete-playlist d-none">
        <p style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">
            Parabéns {{ user.full_name }}, você <strong style="color: #00D167">completou</strong>
            a <strong style="color: #00D167">playlist.</strong>
            Aperte no botão abaixo para continuar
        </p>
        <button class="btn-complete-playlist btn btn-green text-align" onclick="document.location.reload(true)">
            Continuar
        </button>
    </div>

    <!--{% if status == 'new' %}
        <p class="header" style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">
            {{ user.full_name }}, para <strong style="color: #00D167">melhor análise</strong>
            da pesquisa escute <strong style="color: #00D167">completamente</strong> 
            a Playlist proposta por dia.
        </p>
    {% elif status == 'incomplete'%}
        <p class="header" style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">
            {{ user.full_name }}, você <strong style="color: #00D167">não completou</strong>
            a sua última <strong style="color: #00D167">playlist.</strong> 
            Por favor, complete-a o quanto antes para poder prosseguir com a pesquisa.
        </p> 
    {% endif %}-->
    {% if status == 'completed'%}
        <p class="header" style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">
            Parabéns {{ user.full_name }}, você <strong style="color: #00D167">completou</strong>
            a sua <strong style="color: #00D167">playlist </strong>de hoje.
            Volte amanhã para poder ouvir a sua próxima playlist e continuar com a pesquisa.
        </p>
    {% else %}
        <p class="header" style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">
            {{ user.full_name }}, você está iniciando a primeira fase da pesquisa. Durante 7 dias você irá ter acesso a uma seleção de musicas, 
            em torno de 13 a 14 músicas por dia, que deverão ser escutadas por completo em cada dia, preferencialmente todas 
            de uma só vez. Caso você precise parar por algum motivo, poderá voltar e reiniciar de onde parou. Preparamos 3 
            seleções de músicas diferentes para você escutar, uma por dia. No sétimo dia haverá um novo questionário para 
            você responder, que irá aparecer assim que você escutar a última música.
        </p>
    {% endif %}

    {% if status != 'completed'%}
        <div class="d-flex flex-column align-items-center">
            <div class="col-sm-12 col-md-9 col-lg-7 mt-4">
                <div class="row row-card">
                    {{ playlist.name }}
                    {% for music in listened_musics %}
                        {% include "card_music.html" with blocked="card-music-block" %}
                    {% endfor %}
                    {% for music in musics %}
                        {% if forloop.counter == 1 %}
                            {% include "card_music.html" %}
                        {% else %}
                            {% include "card_music.html" with blocked="card-music-block" %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif%}
</div>

{% for music in musics %}
    <!-- Modal  -->
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="color: #000; background-color: #00D167;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong>{{ music.name }}</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Autor:</strong> <label style="color: #FFF">{{ music.author }}</label></p>
                    <p><strong>Compositor:</strong> <label style="color: #FFF">{{ music.compositor }}</label></p>
                    <p><strong>Interprete:</strong> <label style="color: #FFF">{{ music.performer }}</label></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock body %}

{% block body_script %}
    <script>
        const csrf = '{{ csrf_token }}', musicUpdateUrl = "{% url 'dashboard' %}"
    </script>
    <script src="{% static 'js/music.js' %}"></script>
{% endblock %}
