{% extends 'base.html' %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block head %}
<style>
    .row-card
    {
        background-color: #00D167;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 5px;
        flex-direction: column;
    }

    .col-card
    {
        background-color: #F1F3F4;
        border-radius: 8px;
        margin: 5px 0px;
        width: fit-content;
    }

    .a-info
    {
        color: #00D167;
    }
    .a-info:hover
    {
        cursor: pointer;
        color: #00D167;
        filter: brightness(0.9);
    }
    
</style>
{% endblock head %}

{% block body %}
<h1 style="font-weight: bold; text-align: center; font-size: 2.3rem;">
    De Alceu Valença a Zequinha de Abreu
</h1>

<div class="container">
    <p style="font-size: 1.3rem; text-align: center; font-weight: 300; margin: 30px 0px;">Zequinha de Abreu, para <strong style="color: #00D167">melhor análise</strong> da pesquisa escute <strong style="color: #00D167">completamente</strong> a Playlist proposta por dia.</p>
    <div class="d-flex flex-column align-items-center">
        <div class="col-sm-12 col-md-9 col-lg-7 mt-4">
            <div class="row row-card">
                {% for music in musics %}
                    <!-- Item -->
                    <div class="col-card">
                        <div class="row m-0">
                            <div class="col-1" style="display: flex; align-items: center;">
                                <strong style="color: #000; margin-bottom: 0;">{{ music.get_order }}</strong>
                            </div>
                            <div class="col-11 col-sm-7" style="display: flex; align-items: center;">
                                <audio controls controlsList="nodownload" onended="musicEndedEvent('{{ music.id }}')">
                                    <source src="{{ music.file.url }}" type="audio/mp3" />
                                    Seu navegador não suporta HTML5
                                </audio>
                            </div>
                            <div class="col-12 col-sm-4" style="display: flex; align-items: center; justify-content: center;">
                                <a class="a-info" data-toggle="modal" data-target="#modal1">Mais informações</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% for music in musics %}
    <!-- Modal  -->
    <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="color: #000; background-color: #00D167;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong>{{ music.name }}</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Autor:</strong> <label style="color: #FFF">{{ music.author }}</label></p>
                    <p><strong>Compositor:</strong> <label style="color: #FFF">{{ music.compositor }}</label></p>
                    <p><strong>Interprete:</strong> <label style="color: #FFF">{{ music.performer }}</label></p>
                    <p><strong>Duração:</strong> <label style="color: #FFF">{{ music.get_formatted_duration }}</label></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock body %}

{% block body_script %}
    <script>
        const csrf = '{{ csrf_token }}', musicUpdateUrl = "{% url 'home' %}"
    </script>
    <script src="{% static 'js/music.js' %}"></script>
{% endblock %}
