{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock title %}
{% block head %}
<style>

    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1279px) {
        #content-form
        {
            padding: 0 5vh;
        }
    }

    @media (min-width: 1919px) {
        
    }
    
    
</style>
{% endblock head %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <img src="{% static 'images/img1.svg' %}" class="img-fluid" alt="Music"/>
            </div>
            <div class="col-12 col-md-4" id="content-form">
                <center>
                <h2 style="font-size: 38px">Cadastro</h2>

                <form method="post">
                    {% csrf_token %}
                    {% include 'form_register.html' with form=form %}
                    <button type="submit" class="btn btn-success btn-green btn-block btn-lg">Cadastrar</button>
                  </form>
                </center>
            </div>
        </div>
    </div>

{% endblock body %}
