{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock title %}
{% block head %}
<style>

    /*Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1279px) {
        #content-form
        {
            padding: 0 5vh;
        }
    }

    @media (min-width: 1919px) {
        
    }
    
    
</style>
{% endblock head %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <img src="{% static 'images/img1.svg' %}" class="img-fluid" alt="Music"/>
            </div>
            <div class="col-12 col-md-4" id="content-form">
                <center>
                <h1 style="font-size: 42px; font-weight: bold;">Musicoterapia</h1>
                <h2 style="font-size: 38px">Cadastro</h2>

                <form method="post">
                    {% csrf_token %}
                    {% include 'form_register.html' with form=form %}
                    <button type="submit" class="btn btn-success btn-green btn-block btn-lg">Cadastrar</button>
                  </form>
                </center>
            </div>
        </div>
    </div>

    <!-- <form class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
            <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a
                    href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, Firefox, and IE
                10/11 (prefixed).</a></p>
        </div>

        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
    </form> -->
{% endblock body %}
