{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Teste</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <h1>{{ playlist.name }}</h1>
        <ul>
            {% for music in musics%}
                <li>{{ music.name }}</li>
            {% endfor %}
        </ul>
        <p>Status: {{ status }} </p>

    </body>
</html>
